<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Start Bootstrap</a>
        <a class="btn btn-primary" routerLink="/register" *ngIf="!isAuthenticated()">Sign Up</a>

    </div>
    <a class="btn btn-primary" routerLink="/login" *ngIf="!isAuthenticated()">Sign In</a>
    <a class="btn btn-primary" routerLink="/" *ngIf="isAuthenticated()">TUKE CHAE</a>
    <a class="btn btn-primary" routerLink="/" (click)="logout()" *ngIf="isAuthenticated()">Izlizai Kaval</a>

</nav>

