 <!-- Masthead-->
 <header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <!-- <img class="masthead-avatar mb-5" src="https://i.ibb.co/DgFz6p4/Screenshot-2022-01-25-162535-removebg-preview.png" alt="..." /> -->
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Welcome to A+G</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star">d</i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">Automatic watering system</p>
  </div>
</header>
<
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-4 ms-auto"><p class="lead">A+G</p></div>
          <div class="col-lg-4 me-auto"><p class="lead">Water</p></div>
      </div>
      <!-- About Section Button-->

  </div>
</section>

<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Location</h4>
              <p class="lead mb-0">
                  PGKPI
                  <br />
                  Burgas
              </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <a target="_blank" class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/groups/577312175954389"><i class="fab fa-fw fa-facebook-f"></i></a>
              <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> -->
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">Info</h4>
              <p class="lead mb-0">
                  Designed inspired by: (MIT License)
                  <a href="http://startbootstrap.com">Start Bootstrap</a>
                  .
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; A+G 2022</small></div>
</div>
